html
	head
		style
			include ../style.css
		link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		.container1
			h4.header something!
			input#imageinput(type="url" name='imagelink' placeholder='insert your image URL link' ) 
			button.btn.btn-default#submitbutton(type="submit", name="submit") paste your image link here

			div(name='image' id='imageholder')

			div(name='spotify' id='spotifyholder') 

			//- jQuery
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		//- script
		//- 	include ../public/script.js
		
		script.
			$('#submitbutton').on('click', function(){
			console.log('something')
			var image = $('#imageinput').val()
				$.post('/emoplaylist/search', { imageurl: image }, (result) => {
				//- console.log(result)
					$('#imageholder').html('<img src="' + result.image + '" />')
					$('#spotifyholder').html('<iframe height="400", width="300" src="' + result.playlist + '"></iframe>')
				});
			});