html
	head
		style
			include ../style.css
		link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		.container
			div(id="login")
        	<h1>Login to ur spotify</h1>
        	a.btn.btn-primary(href='/emoplaylist') Log in with Spotify
     
			