html
	head
		style
			include ../style.css
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')

		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			.navbar-fixed
					nav
						.nav-wrapper.white.darken-5
							a.brand-logo(href='/') 
								img(src='logo4.png', style='width: 88%; padding-left: 20px;')

							ul#nav-mobile.right.hide-on-med-and-down
								li
									a#home.btn.green.lighten-2(href="/") Home 
									a#spot.btn.green.lighten-2(href="/emoplaylist") Spot-I-See
									a#jam.btn.green.lighten-2(href="/makemusic") Make some music!
							
							ul#nav-mobile.side-nav
											li
												a(href='#') Navbar Link
							|  
							a.button-collapse(href='#', data-activates='nav-mobile')
								i.material-icons menu

		row.center
			.loops
				h4 A beat fell from the sky! Play with the loops using your keyboard or by clicking on them. Have fun! 
				
				button.mscbtn#button-loop-1(type='button', value='1')
					kbd A
					span.soundname kick
					
				button.mscbtn#button-loop-2(type='button', value='2')
					kbd S
					span.soundname pad
					
				button.mscbtn#button-loop-3(type='button', value='3')
					kbd D
					span.soundname perc
					
				button.mscbtn#button-loop-4(type='button', value='4')
					kbd F
					span.soundname lo-fi pluck
					
				button.mscbtn#button-loop-5(type='button', value='5')
					kbd G
					span.soundname bass

			.container-bottom2
				div(id="bottom2")
					h8.center-align 
			

		script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js')
		script
			include music.js
			
		//- jQuery
		script.
			$(document).ready(function () {
				$('.mscbtn').click(function() {
			    $(this).toggleClass('playing');
				});
			});
